h1 {
    margin: 1% auto 1% auto;
    text-align: center;
}

#chessboard {
    margin: 1% auto 1% auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 1px;
}

.boardRow {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1px;
}

.cell {
    text-align: center;
    border: 1px solid black;
    line-height: 40px;
    height: 40px;
    width: 40px;
    background-color: #FFF4AB;
    text-shadow: 1px 1px 2px #ffffff;
}

img.piece {
    max-height:40px;
    max-width:40px;
    height:auto;
    width:auto;
}

.cell:hover {
    background-color: #498df3 !important;
}

div.boardRow:nth-child(2n+1) div.cell:nth-child(2n+0),
div.boardRow:nth-child(2n+0) div.cell:nth-child(2n+1) {
    background-color: #ca6c13;
}

#errorMessages {
    font-size: 2.5em;
    color: #ca4713;
}
